<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021187951458-kk95ctikfk7ah8bat65dl858l4klcl6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021187951458-kk95ctikfk7ah8bat65dl858l4klcl6s</string>
	<key>API_KEY</key>
	<string>AIzaSyDMBs2tPIFK3-IkI9yMVDQb4rTK4d7idBA</string>
	<key>GCM_SENDER_ID</key>
	<string>1021187951458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-aaf4a</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-aaf4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021187951458:ios:8afb3d2cdb7dad91fffa3b</string>
</dict>
</plist>